<!DOCTYPE html>
<html>
<head>
  <title>Super Team</title>
</head>
<body>
  <h1>Here is the <%= @team.name %>!</h1>
  <h2><%= @team.motto %></h2>
  <h3>Hero Number 1</h3>
    <% @hero.each.with_index do |hero, index| %>
      <% if index == 0 %>
    <p> Hero Name: <%= hero.name %><br>
        Hero Power: <%= hero.power %><br>
        Hero Biography: <%= hero.bio %></p>
      <% end %>
    <% end %>
  <h3>Hero Number 2</h3>
    <% @hero.each.with_index do |hero, index| %>
      <% if index == 1 %>
    <p> Hero Name: <%= hero.name %><br>
        Hero Power: <%= hero.power %><br>
        Hero Biography: <%= hero.bio %></p>
      <% end %>
    <% end %>
  <h3>Hero Number 3</h3>
    <% @hero.each.with_index do |hero, index| %>
      <% if index == 2 %>
    <p> Hero Name: <%= hero.name %><br>
        Hero Power: <%= hero.power %><br>
        Hero Biography: <%= hero.bio %></p>
      <% end %>
    <% end %>
</body>